<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>سیستم جامع حضور غیاب</title>
    <partial name="MetaTagPartialView" />
    <!-- All CSS Files -->
    <partial name="CssStylePartialView" />
</head>
<body>
    <partial name="PreloadTopAndPageHeaderPartialView" />
    <!-- ==== Header Start  ==== -->
    <partial name="MenuPartialView" />
    <!-- ==== Header End ==== -->
    <!--== Page Title Section Start ==-->
    <section class="page-title page-bg bg-opacity title-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Blog Details</h2>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="container">
                <div class="row ">
                    <ul>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--== Page Title Section End ==-->
    <!--== Blog Section Start ==-->
    <!--== Blog Right Sidebar==-->
    <section class="blog-details-post section-padding-tb">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="post-content">
                        <div class="comments-area text-right">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Blog Section End ==-->
    <!-- ==== Footer Section Start ==== -->
    <partial name="FooterPartialView" />
    <!-- ==== Footer Section End ==== -->
    <!-- All JS Here -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/particles.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/responsiveslides.js"></script>
    <script src="~/js/jquery.lineProgressbar.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/masonry.pkgd.js"></script>
    <script src="~/js/tweetie.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>