@page
@model LogoutModel
@{
    ViewData["Title"] = "خروج از حساب";
}

<header>
    <p>آیا مطمعنید میخواهید خارج شوید؟</p>
    <form method="post">
        <input class="btn btn-danger" type="submit" value="بله" />
        <a class="btn btn-success" href="/">نه</a>
    </form>
</header>