<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-logo">
                <a class="" href="#">
                    <img src="~/image/logo/dummy-image.png" alt="">
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                </p>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h5 class="footer-title">Usefull Links</h5>
                <ul class="footer-link">
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Home</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> About</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Service</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Works</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i> Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-news">
                <h5 class="footer-title">Newsfeeds</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                </p>
                <div class="newsletter">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email Address" aria-label="Search for..." autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn newsletter-btn" type="button"><i class="fa Example of paper-plane fa-paper-plane"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-tweets">
                <h5 class="footer-title">Recent tweets</h5>
                <div class="recent-tweets">
                    <div class="tweet-img">
                        <a href="#"><img src="~/image/blog/dummy-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="tweet-text">
                        <a href="#"><p>Lorem ipsum dolor sit</p></a>
                        <p>26 March 2018</p>
                    </div>
                </div>
                <div class="recent-tweets">
                    <div class="tweet-img">
                        <a href="#"><img src="~/image/blog/dummy-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="tweet-text">
                        <a href="#"><p>Lorem ipsum dolor sit</p></a>
                        <p>26 March 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-down">
    <div class="container">
        <div class="row text-center">
            <div class="copyright-text">
                <p>© Copyright 2018. All Rights Reserved. Designed by <a class="footer-team" href="#">Synchrotheme</a></p>
            </div>
        </div>
    </div>
</div>