<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-logo">
                <a class="" href="#">
                    <img src="~/image/logo/dummy-image.png" alt="">
                </a>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                </p>
                <ul>
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h5 class="footer-title">لینک های مفید</h5>
                <ul class="footer-link">
                    <li><a href="/home/index"><i class="fas fa-angle-double-right"></i> خانه</a></li>
                    <li><a href="/account/login"><i class="fas fa-angle-double-right"></i> ورورد</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-news">
                <h5 class="footer-title">مت های موقت</h5>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.  کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                </p>
                <div class="newsletter">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email Address" aria-label="Search for..." autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn newsletter-btn" type="button"><i class="fa Example of paper-plane fa-paper-plane"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 footer-tweets">
                <h5 class="footer-title">اتفاقات اخیر</h5>
                <div class="recent-tweets">
                    <div class="tweet-img">
                        <a href="#"><img src="~/image/blog/dummy-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="tweet-text">
                        <a href="#"><p>امروز</p></a>
                        <p>@DateTime.Now.ToPersionDate()</p>
                    </div>
                </div>
                @*<div class="recent-tweets">
                    <div class="tweet-img">
                        <a href="#"><img src="~/image/blog/dummy-image.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="tweet-text">
                        <a href="#"><p>Lorem ipsum dolor sit</p></a>
                        <p>26 March 2018</p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</footer>
<div class="footer-down">
    <div class="container">
        <div class="row text-center">
            <div class="copyright-text">
                <p>© Copyright 2018. All Rights Reserved. Designed by <a class="footer-team" href="#">Synchrotheme</a></p>
            </div>
        </div>
    </div>
</div>