<header id="pageHeader" class="header navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar icon-bar-last"></span>
            </button>
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a>@User.Identity.Name</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/Logout"> خروج </a></li>
                }
                else
                {
                    <li><a asp-area="Identity" asp-page="/Account/Login"> ورود </a></li>
                }
            </ul>
        </div>
        <nav id="myNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Contact">ارتباط با ما</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a asp-controller="User" asp-action="UsersList">لیست تمام کارمندان</a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="User" asp-action="RegistrationAttendance">ثبت حضور و غیاب</a></li>
                    <li><a asp-controller="User" asp-action="Index" asp-route-Id="@(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)">پنل کاربری</a></li>
                }
                <li><a href="/">خانه</a></li>
            </ul>
        </nav>
    </div>
</header>