    <!--loader-->
<div id="preloader">
    <div class="pre-img"><img src="~/image/logo/dummy-image.png" alt=""></div>
    <div class="loader">
        <div class="loader1 loaderch"></div>
        <div class="loader2 loaderch"></div>
        <div class="loader3 loaderch"></div>
        <div class="loader4 loaderch"></div>
        <div class="loader5 loaderch"></div>
        <div class="loader6 loaderch"></div>
        <div class="loader7 loaderch"></div>
        <div class="loader8 loaderch"></div>
        <div class="loader9 loaderch"></div>
        <div class="loader10 loaderch"></div>
        <div class="loader11 loaderch"></div>
        <div class="loader12 loaderch"></div>
    </div>
</div>
<!--loader-->
<div class="top-header hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="top-item-left">
                    <ul>
                        <li><a href="#"><i class="fa fa-envelope"></i> info@example.com</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i> +111 222 333</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> Sat-Tru 10am-6pm</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-item-right">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>