
@{
    ViewData["Title"] = "ارتباط با من";
}

<address>
    <p class="alert alert-success">
        @ViewData["Message"]
    </p>
</address>

<address>
    <strong>Instagram:</strong> <a href="https://www.instagram.com/samiiazarii/">samiiazarii</a>
</address>
